<div class="example-config">
  <p>Kendo Ui Angular Demo.</p>
</div>
<form [formGroup]="form" class="form-parent">
  <kendo-formfield>
    <kendo-label [for]="textbox" text="Email"></kendo-label>
    <kendo-textbox formControlName="textbox" required></kendo-textbox>
    <kendo-formhint>Please, enter your email.</kendo-formhint>
    <kendo-formerror>Error: Email is required.</kendo-formerror>
  </kendo-formfield>
  <kendo-formfield>
    <kendo-label [for]="textbox" text="Email"></kendo-label>
    <kendo-textbox formControlName="textbox" required></kendo-textbox>
  </kendo-formfield>
  <kendo-formfield>
    <kendo-label [for]="textbox" text="Email"></kendo-label>
    <kendo-textbox formControlName="textbox" required></kendo-textbox>
  </kendo-formfield>
  <kendo-formfield>
    <kendo-label [for]="textbox" text="Email"></kendo-label>
    <kendo-textbox formControlName="textbox" required></kendo-textbox>
  </kendo-formfield>
</form>
